<p>
    I am a student at UC Davis studying Computer Science, ready graduate in this
    December. (Woohoo!) My passion for becoming a programmer began as a college
    freshman. After taking my first coding class, I loved it so much I changed
    my major to Computer Science right away. My interest lies in full stack
    development and mobile development. On my free time, you can catch me making
    random videos with friends, cooking up some korean food, or just browsing
    through Youtube trying to learn some new coding techniques.
</p>
<a href="/assets/resume.pdf" class="resume_button">View My Resume</a>
