<p>
    <h1>Privacy Policy for Mind-Dump</h1>
<br />
Effective Date: 2/1/2024
<br />
This Privacy Policy describes how Mind-Dump collects, uses, and shares information when you use our iOS mobile application ("App") and the associated services, including the storage of data using Firebase.
<br />
Information We Collect
<br />
Personal Information:
<br />
We may collect personal information you provide when using the App, such as your name, email address, and other information necessary for account creation.
Firebase Data:
<br />
Our App uses Firebase to store and retrieve data. This may include user-generated content, preferences, and other data necessary for the functioning of the App.
Automatically Collected Information:
<br />
We may collect certain information automatically, including device information, IP address, and usage patterns when you use our App.
<br />
<b>How We Use Your Information</b>
<br />
We use the collected information for the following purposes:
<br />
<b>Providing and Improving the App:</b>
<br />
To provide, maintain, and improve the functionality of the App and our services.
<br />
<b>Communication:</b>
<br />
To respond to your inquiries, provide customer support, and send important updates related to the App.
<br />
<b>Personalization:</b>
<br />
To personalize your experience and deliver content and features tailored to your interests.
<b>Analytics:</b>
<br />
To analyze usage patterns and improve our understanding of how users interact with the App.
<b>Firebase Data Storage</b>
<br />
We use Firebase, a cloud-based service provided by Google, to store and process data. Firebase's privacy policy can be found at Firebase Privacy Policy.
<br />
Disclosure of Your Information
<br />
We may share your information:
<br />
With Your Consent:
<br />
When you give us explicit consent to share your information.
<br />
For Legal Reasons:
<br />
To comply with legal obligations or respond to legal requests.
<br />
Service Providers:
<br />
With third-party service providers who assist us in providing and improving our services.
<br />
Your Choices
<br />
You have the right to:
<br />
Access and Update Your Information:
<br />
Access and update your personal information stored in the App.
Opt-out:
<br />
Opt-out of receiving promotional communications.
<br />
Security
<br />
We implement security measures to protect your information from unauthorized access, disclosure, alteration, and destruction.
<br />
Changes to This Privacy Policy
<br />
We may update this Privacy Policy to reflect changes in our practices. The latest version will be available in the App.
<br />
Contact Us
<br />
If you have any questions or concerns about this Privacy Policy, please contact us at [your contact information].
</p>

<p>
    <h1>Privacy Policy for bib-serach</h1>
<br />
Effective Date: 9/7/2024
<br />
[bib-search] is committed to protecting your privacy. This Privacy Policy outlines our policies regarding the collection, use, and disclosure of information when you use our macOS application ("App"). Since we do not collect, store, or share any personal information, your privacy is fully protected.
<br />
Information We DO NOT Collect
<br />
Personal Information:
<br />
Our App does not collect, store, or share any personal information, including but not limited to:
<br />
<ol>
    <li>Personal identifiers (e.g., name, email address).</li>
    <li>Device information (e.g., IP address, device type, or operating system).</li>
    <li>Usage data (e.g., usage patterns, in-app activities).</li>
    <li>Location data</li>
    <li>Cookies or other tracking technologies</li>
</ol>
<br />

<b>Data Security</b>
<br />
As we do not collect any information, there are no data security concerns related to the App. Your use of the App is entirely private and no data is transmitted from your device to us or any third parties.
<br />
We use the collected information for the following purposes:
<br />
<b>Third-Party Services:</b>
<br />
Our App does not use any third-party services that collect, store, or share information about you. There are no embedded links or features that would lead to data collection by third parties.
<br />
<b>Changes to This Privacy Policy:</b>
<br />
We may update this Privacy Policy from time to time. Any changes will be reflected in the updated Privacy Policy on this page, along with the "Effective Date." We encourage you to review this Privacy Policy periodically.
<br />
<b>Contact Us:</b>
<br />
If you have any questions or concerns about this Privacy Policy, please contact us at jhbhan@gmail.com.
</p>