<p>
    <h1>Privacy Policy for Mind-Dump</h1>
<br />
Last Updated: 2/1/2024
<br />
This Privacy Policy describes how Mind-Dump collects, uses, and shares information when you use our iOS mobile application ("App") and the associated services, including the storage of data using Firebase.
<br />
Information We Collect
<br />
Personal Information:
<br />
We may collect personal information you provide when using the App, such as your name, email address, and other information necessary for account creation.
Firebase Data:
<br />
Our App uses Firebase to store and retrieve data. This may include user-generated content, preferences, and other data necessary for the functioning of the App.
Automatically Collected Information:
<br />
We may collect certain information automatically, including device information, IP address, and usage patterns when you use our App.
<br />
<b>How We Use Your Information</b>
<br />
We use the collected information for the following purposes:
<br />
<b>Providing and Improving the App:</b>
<br />
To provide, maintain, and improve the functionality of the App and our services.
<br />
<b>Communication:</b>
<br />
To respond to your inquiries, provide customer support, and send important updates related to the App.
<br />
<b>Personalization:</b>
<br />
To personalize your experience and deliver content and features tailored to your interests.
<b>Analytics:</b>
<br />
To analyze usage patterns and improve our understanding of how users interact with the App.
<b>Firebase Data Storage</b>
<br />
We use Firebase, a cloud-based service provided by Google, to store and process data. Firebase's privacy policy can be found at Firebase Privacy Policy.
<br />
Disclosure of Your Information
<br />
We may share your information:
<br />
With Your Consent:
<br />
When you give us explicit consent to share your information.
<br />
For Legal Reasons:
<br />
To comply with legal obligations or respond to legal requests.
<br />
Service Providers:
<br />
With third-party service providers who assist us in providing and improving our services.
<br />
Your Choices
<br />
You have the right to:
<br />
Access and Update Your Information:
<br />
Access and update your personal information stored in the App.
Opt-out:
<br />
Opt-out of receiving promotional communications.
<br />
Security
<br />
We implement security measures to protect your information from unauthorized access, disclosure, alteration, and destruction.
<br />
Changes to This Privacy Policy
<br />
We may update this Privacy Policy to reflect changes in our practices. The latest version will be available in the App.
<br />
Contact Us
<br />
If you have any questions or concerns about this Privacy Policy, please contact us at [your contact information].
</p>